<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852604603201-d64ojac9587u9ngu70nfjlmvu69tt5aa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852604603201-d64ojac9587u9ngu70nfjlmvu69tt5aa</string>
	<key>API_KEY</key>
	<string>AIzaSyBaFeVzp5Sgo3TzdaSW5dmofZIAuByBqls</string>
	<key>GCM_SENDER_ID</key>
	<string>852604603201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-cb43a</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-cb43a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852604603201:ios:396dfc66b68b6a1bd72fc0</string>
</dict>
</plist>